body {
    font-family: 'Nunito Sans', sans-serif;
}
/*-------------STYLE-INDEX--------------*/
.main {
    display: block;
    box-sizing: border-box;
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 92px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 116%;
    margin-bottom: 34px;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 127%;
    display: block;
    margin-bottom: 13px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 137%;
    margin-bottom: 50px;
}
.content-link {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 18px 43px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 128%;
    text-align: center;
    border: 1px solid #FBB731;
}
.content-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
    margin-left: 168px;
}
.main img {
    width: 829px;
    height: 860px;
    position: absolute;
    right: -168px;
}
/*--------------------PROMO--------------------------*/
.promo {
    padding-top: 185px;
    padding-bottom: 45px;
    color: #fff;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../img/burg1.png);
    padding-top: 100px;
    padding-left: 40px;
    padding-bottom: 100px;
}
.promo-right {
    background-image: url(../img/burg2.png);
    padding-top: 100px;
    padding-left: 40px;
}
.sale {
    background-color: #F37335;
    border-radius: 14px;
    padding: 5px 18px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    line-height: 128%;
    text-align: center;
    margin-bottom: 3px;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    line-height: 127%;
    margin-top: 0;
    margin-bottom: 0;
}
.free {
    font-size: 44px;
    font-weight: 700;
    line-height: 128%;
    margin-top: 0;
    margin-bottom: 0;
}
.promo-discription {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: #FAF9F9;
    margin-top: 11px;
}
.promo-left .promo-discription {
    max-width: 390px;
}
.promo-right .promo-discription {
    max-width: 310px;
    margin-bottom: 20px;
}
/*-------------HEADER--------------*/
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 22px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    width: 176px;
    height: 56px;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #443737;
}
.header-nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
}
.header-nav a:hover{
    color: #FFC725;
}
.header-nav a.active:after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    left: 18px;
}
.button-text {
    font-family: 'Open Sans', sans-serif;
    color: #443737;
    font-size: 15px;
    font-weight: 700;
}
/*-------------BG-MENU--------------*/
.bg {
    text-align: center;
    color: #fff;
    background-image: url(../img/bg-menu.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
}
.breadcrumbs {
    padding-left: 0;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.breadcrumbs a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #DEDEDE;
    font-size: 15px;
    line-height: 140%;
    font-weight: 400;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: 0px;
    pointer-events: none;
}
.breadcrumbs a::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-size: 79px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    color: #DEDEDE;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
    max-width: 320px;
    margin: 0 auto;
}
/*-------------BANNER--------------*/
.banner-box {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 101px 0 120px 101px;
    margin: 139px 0 80px;
    color: #fff;
}
.banner-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 11px;
}
.banner-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 126%;
    text-transform: uppercase;
    background: #F37335;
    border-radius: 14px;
    padding: 5px 0;
    display: block;
    max-width: 96px;
    text-align: center;
    margin-bottom: 6px;
}
.banner-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    max-width: 320px;
    margin-top: 0;
    margin-bottom: 35px;
}
.banner-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 126%;
    color: #1E2F40;
    text-transform: uppercase;
    text-decoration: none;
    background: #FBB731;
    border-radius: 5px;
    padding: 18px 24px;
    border: 1px solid #FBB731;
    transition: 0.2s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
/*-------------MENU--------------*/
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}
.menu-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
}
.menu-select {
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    font-weight: 400;
    font-size: 15px;
    color: #443737;
    padding: 13px 32px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../img/arrow.svg);
    background-size: 12.79px 9.75px;
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: none;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 100px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    text-align: center;
    color: #1B2A49;
    margin: 0;
    margin-top: 21px;
}
.menu-grid-price {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #979797;
    margin-top: 5px;
    margin-bottom: 19px;
}
.menu-grid-btn {
    background: #FBB731;
    border-radius: 5px;
    border: none;
    padding: 10px 33px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    align-items:center;
    justify-content: center;
    gap: 9px;
    transition: 0.2s;
}
.menu-grid-btn:hover {
    background:  #F37335
}
.menu-grid-icon {
    background-image: url(../img/cart-menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}
.menu-grid-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1E2F40;
    text-align: center;
}
/*-------------FOOTER--------------*/
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 95px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
    transition: 0.2s;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    margin: 2px 24px 19px 15px;
}
.footer-list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 15px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color:#FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 4px;
}
.footer-list-tel {
    margin-top: 1px;
    transition: 0.2s;
}
.footer-list-tel li {
    margin-bottom: 15px;
}
.footer-list-tel a {
    font-size: 20px;
    font-weight: 800;
    color: #FBB731;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.button-up {
    background: #FBB731;
    border-radius: 8px;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #1E2F40;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 1s;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}
.button-up:hover {
    background: #F37335;
}
/*------------- MEDIA--------------*/
.burger {
    width: 34px;
    height: 23px;
    background-color: transparent;
    background-image: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
#modal {
    max-width: 500px;
    background-color: cornsilk;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    transition: 0.5s;
    padding: 40px 30px;
    box-sizing: border-box;
}
#modal .header-nav {
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-image: url(../img/burger-close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
/*------------- MEDIA--------------*/
@media (min-width: 981px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
}

@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}

@media (max-width: 980px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 75.5%;
    }
    .bg {
        margin-bottom: 36px;
    }
    .banner-box {
        background-position: -80px center;
        padding-left: 40px;
        margin-top: 0;
        margin-bottom: 62px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
        margin-bottom: 88px;
    }
    .menu-grid-mobile {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x proximity;
        scroll-snap-align: start;
    }
    
    .menu-grid-mobile .menu-grid-cover {
        height: 320px;
        width: 274px;
    }
    /*
    .menu-grid-mobile .menu-grid-cover img {
        position: relative;
        top: 160px;
    }*/

    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
}

@media (max-width: 765px) {
    nav {
        display: none;
    }
    .header {
        gap: 25px;
    }
}
@media (max-width: 660px) {
    
    .footer-box {
        display: flex;
        flex-direction: column;
    }
    .footer-tel {
        display: block;
        position: absolute;
        left: 128px;
    }
    .footer-list + .footer-list-tel {
        display: none;
    }
    .footer {
        padding-top: 59px;
        padding-bottom: 145px;
        margin-top: 0;
    }
    .footer-logo {
        width: 63px;
        height: 60px;
        margin-left: 5px;
    }
    .footer-item h2 {
        font-size: 18px;
        margin: 44px 0 20px 5px;
    }
    .footer-list li {
        margin-top: 10px;
        margin-left: 5px;
    }

    /*
    .footer-item  .footer-list + .footer-list-tel {
        position: relative;
        bottom: 180px;
        left: 45px;
    }
    */

    /*
    .footer-box {
        display: grid;
    }
    .footer-tel {
        display: block;
    }
    .footer-list + .footer-list-tel {
        display: none;
    }
    */
}
@media (max-width: 567px) {
    .bg {
        padding: 58px 0 62px;
    }
    .title {
        font-size: 40px;
        margin-top: 28px;
        margin-bottom: 12px;
        padding-right: 16px;
    }
    .breadcrumbs a {
        font-size: 14px;
        padding-right: 4px;
    }
    .description {
        font-size: 12px;
        max-width: 272px;
        padding-right: 16px;
    }
    .banner-box {
        background-position: 15% center;
        padding: 37px 26px 57px;
        margin-left: 4px;
        margin-right: 10px;
        margin-bottom: 43px;
    }
    .banner-title span {
        margin-bottom: 8px;
    }
    .banner-title {
        margin-bottom: 15px;
    }
    .banner-text {
        margin-bottom: 37px;
    }
    .banner-link {
        padding: 20px 27px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 26px 15px;
        margin-bottom: 68px;
        margin-left: 4px;
    }
    .menu-title {
        font-size: 27px;
        margin-left: 5px;
        margin-bottom: 4px;
    }
    .menu-select {
        font-size: 12px;
        padding: 12px 15px;
        flex-basis: 142px;
        margin-right: 13px;
    }
    .menu-grid-title {
        font-weight: 700;
        font-size: 13px;
        line-height: 154%;
        margin-top: 10px;
    }
    .menu-grid-price {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .menu-grid-cover {
        height: 260px;
    }
    .menu-grid-mobile .menu-grid-cover {
        height: 260px;
    }
}

@media (max-width: 440px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        padding: 21px 16px 21px 6px;
    }

}
@media (max-width: 360px) {
    .header-logo {
        width: 143px;
        height: 36px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 26px 0;
        margin-bottom: 68px;
        margin-left: 4px;
    }
    .menu-grid-cover {
        height: 185px;
        width: 140px;
    }
    .menu-grid-mobile .menu-grid-cover {
        height: 185px;
        width: 140px;
    }
    .menu-grid-btn {
        padding: 10px 25px;
        margin-right: 22px;
    }
}
@media (max-width: 320px) {
    .banner-box {
        background-position: 25% center;
    }
    .bg {
        width: 320px;
        padding: 58px 0;
    }
}